<div class="banner">
  <div class="full-container">
    <div class="slider-content">
      <ul id="pager" class="container">
      </ul>
      <div class="slider slider-v2">
        <div class="slider-item slider-item-img1 " data-cycle-pager-template="<a href=#> McKinley Boot </a>">
          <div class="sliderInfo">
            <div class="container">
              <!--<div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">-->
              <!--  <div class="inner">-->
              <!--    <h1>LATEST COLLECTION</h1>-->
              <!--    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa </p>-->
              <!--    <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>-->
              <!--  </div>-->
              <!--</div>-->
            </div>
          </div>
          <%= image_tag("slider/hiker2.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->

        <div class="slider-item slider-item-img2 " data-cycle-pager-template="<a href=#> Brille II </a>">
          <div class="sliderInfo">
            <div class="container">
              <!--<div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">-->
              <!--  <div class="inner">-->
              <!--    <h1>LATEST COLLECTION</h1>-->
              <!--    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa </p>-->
              <!--    <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>-->
              <!--  </div>-->
              <!--</div>-->
            </div>
          </div>
          <%= image_tag("slider/watershoe1.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->

        <div class="slider-item slider-item-img3 " data-cycle-pager-template="<a href=#> McKinley Boot </a>">
          <div class="sliderInfo">
            <div class="container">
              <!--<div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">-->
              <!--  <div class="inner">-->
              <!--    <h1>LATEST COLLECTION</h1>-->
              <!--    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa </p>-->
              <!--    <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>-->
              <!--  </div>-->
              <!--</div>-->
            </div>
          </div>
          <%= image_tag("slider/hiker1.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->

        <div class="slider-item slider-item-img4  parallax" data-cycle-pager-template="<a href=#> Brille II </a>">
          <div class="sliderInfo">
            <div class="container">
              <div class="col-lg-5 col-md-5 col-sm-5 pull-left sliderText">
                <div class="inner" style="margin-top: 235px; margin-left: -48px;">
                  <a class="btn btn-subscribe">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
          <%= image_tag("slider/watershoe2.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->

        <div class="slider-item slider-item-img5  parallax" data-cycle-pager-template="<a href=#> Water Shoes </a>">
          <div class="sliderInfo">
            <div class="container">
              <!--<div class="col-lg-4 col-md-4 col-sm-5 pull-right sliderText dark alpha80 transformRight hidden-xs">-->
              <!--  <div class="inner">-->
              <!--    <h1>NEW COLLECTION</h1>-->
              <!--    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa </p>-->
              <!--    <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>-->
              <!--  </div>-->
              <!--</div>-->
            </div>
          </div>
          <%= image_tag("slider/watershoe3.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->
      </div>
      <!--/.slider-v2-->
    </div>
    <!--/.slider-content-->
  </div>
  <!--/.full-container-->
</div>
<!--/.banner style2-->
