<tr class="CartProduct">
    <td class="CartProductThumb">
      <div><a href="/productdetail/<%= product_color.id.to_s %>"><%= image_tag("product/" + product.id.to_s + "/" + product.name.parameterize + "-" + product_color.color.parameterize + "-300.jpg") %></a></div>
    </td>
    <td>
      <div class="CartDescription">
        <h4><a href="/productdetail/<%= product_color.id.to_s %>"><%= product.name %></a></h4>
        <span class="color"><%= product_color.color %></span>, Size: <span class="size"><%= order_item.item_gender %> US <%= size.size %></span>
        <div class="price"><span><%= number_to_currency order_item.unit_price %></span></div>
      </div>
    </td>
    <td class="price"><%= number_to_currency order_item.total_price %></td>
</tr>
