//$(".error").html("<%= @enteredCode %>" + ": " + "<%= @promo_error %>" + "</br><a href=/cart>Try another code</a>")
<% if @promo_error_state == 0 %>
  $(".couponForm").html("Code applied: " + "<%= @enteredCode %>")
  //$(".couponForm").html("Success")
<% else %>
  $(".couponForm").html("<%= @enteredCode %>" + ": " + "<%= @promo_error %>" + "</br><a href=/cart>Try another code</a>")
  //$(".couponForm").html("Failure")
<% end %>
<% @order_items.each do |order_item| %>
  $(".itemDiscount-<%= order_item.id %>").html("$<%= number_with_precision(order_item.discount, :precision => 2) %>")
  $(".itemTotalPrice-<%= order_item.id %>").html("<%= number_to_currency order_item.total_price %>")
<% end %>
$("#itemDiscount-<%= @order_item.id %>").html("$<%= number_with_precision(@order_item.discount, :precision => 2) %>")
$("#itemTotalPrice").html("<%= number_to_currency @order_item.total_price %>")
$("#cartSubtotal").html("<%= number_to_currency(@order.subtotal) %>")
$("#orderShipping").html("<%= number_to_currency @order_shipping %>")
$("#cartPreTax").html("<%= number_to_currency(@order.pre_tax) %>")
$("#total-price").html("<%= number_to_currency(@order.total) %>")
