//$(".error").html("<%= @enteredCode %>" + ": " + "<%= @promo_error %>" + "</br><a href=/cart>Try another code</a>")
$(".couponForm").html("<%= @enteredCode %>" + ": " + "<%= @promo_error %>" + "</br><a href=/cart>Try another code</a>")
$("#itemDiscount-<%= @order_item.product_color_id %>").html("<%= @order_item.discount %>")
$("#itemTotalPrice").html("<%= number_to_currency @order_item.total_price %>")
$("#cartSubtotal").html("<%= number_to_currency(@order.subtotal) %>")
$("#orderShipping").html("<%= number_to_currency @order_shipping %>")
$("#cartPreTax").html("<%= number_to_currency(@order.pre_tax) %>")
$("#total-price").html("<%= number_to_currency(@order.total) %>")
