<div class="container main-container headerOffset">
  <!--
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="category.html">WOMEN'S COLLECTION</a></li>
        <li><a href="sub-category.html">Hiking</a></li>
        <li class="active">Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
  </div>
  -->
  <div class="row transitionfx">

    <!-- left column -->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- product Image and Zoom -->
      <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2">
        <!-- Main Image -->
        <% if FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700.jpg", :class => "img-responsive") %></a>
        <% elsif FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-300.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-300.jpg", :class => "img-responsive") %></a>
        <% end %>
        <!-- Front View -->
        <% if FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-front.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-front.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-front.jpg", :class => "img-responsive") %></a>
        <% end %>
        <!-- Back View -->
        <% if FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-back.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-back.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-back.jpg", :class => "img-responsive") %></a>
        <% end %>
        <!-- Left View -->
        <% if FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-left.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-left.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-left.jpg", :class => "img-responsive") %></a>
        <% end %>
        <!-- Bottom View -->
        <% if FileTest.exist?(Rails.root.to_s + "/app/assets/images/product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-bottom.jpg") %>
          <a href="<%= image_url("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-bottom.jpg") %>"><%= image_tag("product/" + @product.first.id.to_s + "/" + @product.first.name.parameterize + "-" + @product_color.color.parameterize + "-700-bottom.jpg", :class => "img-responsive") %></a>
        <% end %>
      </div>
    </div>
    <!--/ left column end -->


    <!-- right column -->
    <div class="col-lg-6 col-md-6 col-sm-5">
      <%= form_for @order_item, remote: true do |f| %>
      <%= f.hidden_field :product_id, value: @product.first.id %>
      <%= f.hidden_field :product_color_id, value: @product_color.id %>
      <h1 class="product-title"> <%= @product.first.name %></h2>

      <!--<h3 class="product-code">Product Code : DEN1098</h3>-->

      <!--<div class="rating">
        <p><span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star-o"></i></span> <span class="ratingInfo"> <span> / </span> <a data-toggle="modal" data-target="#modal-review"> Write a review</a> </span></p>
      </div>-->
      <div class="product-price">
        <span class="price-sales"> <%= number_to_currency(@product.first.price) %></span>
        <!--<span class="price-standard">$95</span>-->
      </div>

      <div class="details-description">
          <p><%= @product.first.short_description %></p>
      </div>

      <!--<div class="color-details">
        <span class="selected-color"><strong>COLOR</strong></span>
        <ul class="swatches Color">
          <li class="selected"><a style="background-color:#f1f40e"> </a></li>
          <li><a style="background-color:#adadad"> </a></li>
          <li><a style="background-color:#4EC67F"> </a></li>
        </ul>
      </div>-->
      <!--/.color-details-->

      <div class="productFilter productFilterLook2">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="filterBox">
              <%= f.select(:quantity, options_for_select([['Quantity', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]), {}, {class: 'form-control'}) %>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="filterBox">
              <%= f.select(:size_id, @sizes.all.collect {|s| [s.size, s.id]}, {include_blank: 'Sizes', class: 'form-control'}) %>
              <%#= f.select(:size_id, options_for_select(@sizes.all.collect {|s| [s.size, s.id, {:disabled => s.disable_select}]}), {include_blank: 'Sizes'}) %>
              <%#= f.collection_select(:size, @sizes, :size, :size, prompt: 'Sizes') %>
              <%#= f.select :size, options_for_select(@sizes) %>
              <!-- <select class="form-control">
                <option value="strawberries" selected>Size</option>
                <%# @sizes.each do |size| %>
                  <option value="<%#= size.size %>"><%#= size.size %></option>
                <%# end %>
              </select> -->
            </div>
          </div>
        </div>
      </div>
      <!-- productFilter -->

      <div class="cart-actions">
        <div class="addto row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <%= f.submit "Add to Cart", class: "button btn-block btn-cart cart first" %>
            <!--<button onclick="productAddToCartForm.submit(this);" class="button btn-block btn-cart cart first" title="Add to Cart" type="button">Add to Cart</button>-->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          </div>
        </div>

        <div style="clear:both"></div>

        <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>

        <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock</h3>

        <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online ordering</h3>
      </div>
      <!--/.cart-actions-->

      <div class="clear"></div>

      <div class="product-tab w100 clearfix">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
          <li><a href="#size" data-toggle="tab">Size</a></li>
          <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="details">
            <%= @product.first.long_description %>
          </div>
          <div class="tab-pane" id="size">
            <table>
              <tr>
                <th style="padding: 8px;">U.S. Size</th>
                <th style="padding: 8px;">U.K. Size</th>
                <th style="padding: 8px;">European</th>
              </tr>
              <tr>
                <td>6</td>
                <td>4</td>
                <td>37</td>
              </tr>
              <tr>
                <td>7</td>
                <td>5</td>
                <td>38</td>
              </tr>
              <tr>
                <td>8</td>
                <td>6</td>
                <td>39</td>
              </tr>
              <tr>
                <td>9</td>
                <td>7</td>
                <td>40</td>
              </tr>
              <tr>
                <td>10</td>
                <td>8</td>
                <td>41</td>
              </tr>
            </table>
          </div>

          <div class="tab-pane" id="shipping">
            <table>
              <colgroup>
                <col style="width:33%">
                <col style="width:33%">
                <col style="width:33%">
              </colgroup>
              <tbody>
              <tr>
                <td>Standard</td>
                <td>1-5 business days</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>Two Day</td>
                <td>2 business days</td>
                <td>$15</td>
              </tr>
              <tr>
                <td>Next Day</td>
                <td>1 business day</td>
                <td>$30</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">* Free on orders of $100 or more</td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <!-- /.tab content -->

      </div>
      <!--/.product-tab-->

      <div style="clear:both"></div>

      <!--<div class="product-share clearfix">
        <p> SHARE </p>

        <div class="socialIcon">
          <a href="#"> <i class="fa fa-facebook"></i></a>
          <a href="#"> <i class="fa fa-twitter"></i></a>
          <a href="#"> <i class="fa fa-pinterest"></i></a>
        </div>
      </div>-->
      <!--/.product-share-->
      <% end %>
    </div>
    <!--/ right column end -->

  </div>
  <!--/.row-->

  <!--<div class="row recommended">

    <h1> YOU MAY ALSO LIKE </h1>

    <div id="SimilarProductSlider">
      <div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/2.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">aliquam erat volutpat</a></h4>
            <div class="price"><span>$57</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/3.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">ullamcorper suscipit lobortis</a></h4>
            <div class="price"><span>$44</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/4.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">demonstraverunt lectores</a></h4>
            <div class="price"><span>$35</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/5.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">humanitatis per</a></h4>
            <div class="price"> $<span>55</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/6.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">Eodem modo typi</a></h4>
            <div class="price"><span>$500</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/2.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">sequitur mutationem</a></h4>
            <div class="price"><span>$50 </span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/3.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">consuetudium lectorum </a></h4>
            <div class="price"><span>$130</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->

      <!--<div class="item">
        <div class="product"><a class="product-image"> <%= image_tag("product/4.jpg") %> </a>
          <div class="description">
            <h4><a href="san-remo-spaghetti">parum claram </a></h4>
            <div class="price"><span>$43</span></div>
          </div>
        </div>
      </div>-->
      <!--/.item-->
    <!--</div>-->
    <!--/.SimilarProductSlider-->
  <!--</div>-->
  <!--/.recommended-->


  <div style="clear:both"></div>


</div>
<!-- /main-container -->


<div class="gap"></div>
