<section class="blog-intro parallaxOffset parallaxbg parallax-image-aboutus">
  <div class="display-table relative5 hw100">
    <div class="display-table-cell hw100 relative">
      <div class="container blogIntroContent zindex10 relative scrollme">
        <div class="row">
          <div class="  wow  fadeInDown introContent text-center" data-wow-duration="0.2s" data-wow-delay=".5s">
            <h1 class="x2large"> Northside USA News </h1>
            <h5 class="parallaxSubtitle"> The latest news, advice, and comments. </h5>

            <!-- <div class="subscribe-dropdown">
              <div class="dropdown">
                <a class="btn btn-subscribe dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Subscribe</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <div>
                      <label>
                        <input name="option1" value="option1" type="checkbox">
                        &nbsp; Latest News </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option2" value="option2" type="checkbox">
                        &nbsp; New Product </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option3" value="option2" type="checkbox">
                        &nbsp; Offer </label>
                    </div>
                  </li>
                  <li>
                    <input placeholder="Enter Your Email" id="subemail" name="subemail" type="text"/>
                  </li>
                  <li><a href="#" class="btn btn-block"> Subscribe </a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-shade"></div>
  <div class="background-overly g6"></div>
</section>
<!--/.blog-intro -->

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered blog-left">
        <div class="bl-inner">
          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class="fadeInDown  wow" data-wow-duration="0.2s" data-wow-delay=".5s">Northside and Project Sole Make a Difference for the Boys and Girls Club</h2>

              <div class="post-info"><span>January 14th, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="http://facebook.com"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://facebook.com"> <i class="fa fa-pinterest-p"> </i> </a> <a class="share-email" href="#"> <i class="fa fa-envelope-o"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-lead-image wow  fadeIn  " data-wow-duration="0.2s" data-wow-delay=".6s"> <%= image_tag("news/NorthsideProjectSoleHappyGirl.png", class: "img-responsive") %> </div>
              <div class="post-description wow  fadeIn  " data-wow-duration="0.2s" data-wow-delay=".1s">
                <p>The holidays are all about bringing people together, whether it’s family around a dinner table or spending time with friends over a cup of hot chocolate. As an independent, family owned and operated business, Northside knows exactly how important it is to bring people together to support and celebrate one another.</p>
                <p>This holiday season, Northside reached out to how they could help their neighbors in inner city Seattle and bring people together. In doing so, Northside made the holidays a little bit warmer for members of a local Boys and Girls Club.</p>
                <p>In partnership with <span style="color: #ff6600;"><a style="color: #ff6600;" title="Project Sole" href="projectsole.org" target="_blank">Project Sole</a></span>, Northside packed up over 500 pairs of shoes and brought them to the <span style="color: #ff6600;"><a style="color: #ff6600;" title="Smilow Rainier Vista Club" href="http://positiveplace.org/locations/rainiervista/Pages/home.aspx" target="_blank">Joel E. Smilow Clubhouse and Teen Center at Rainier Vista</a></span>. There, children of all ages were fitted with brand new footwear–for free. From pink <span style="color: #ff6600;"><a style="color: #ff6600;" title="Northside Sneakers" href="http://www.amazon.com/Northside-Girls-Youth-Tempo-Shoes/dp/B00CBNQ1IY/ref=sr_1_55?s=apparel&amp;ie=UTF8&amp;qid=1420838366&amp;sr=1-55" target="_blank">sneakers</a> </span>to waterproof <span style="color: #ff6600;"><a style="color: #ff6600;" title="Frosty Snow Boots" href="http://www.amazon.com/Northside-Frosty-Winter-Toddler-Little/dp/B00HZ0FOPO/ref=sr_1_1?s=apparel&amp;ie=UTF8&amp;qid=1420839610&amp;sr=1-1&amp;keywords=frosty+snow+boot" target="_blank">snow boots</a></span>, there was a perfect pair for every child.</p>
                <p>Jaron Wilson, founder of Project Sole, shared this about being a Sneaker Santa, &#8220;The old adage of: &#8216;Tis better to give than to receive&#8217; rings true at such events like this. The warm smiles, hugs and high-fives from all of the kids makes all of this worth it.&#8221;</p>
                <p>Watch the video and see for yourself the difference new shoes can make.</p>
                <p><iframe src="//www.youtube.com/embed/7ZrEsJQZDr4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                <p>From the video: “We are so grateful to have Northside and Project Sole come here to our club to visit with us, to see what we do, and then to provide shoes for all of our kids. It’s just wonderful. Thank you.”</p>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <!-- <div class="RecommendedBlog clearfix text-center">
            <div class="h2 RecommendedTitle">Recommended</div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed2.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"> <%= image_tag("news/unnamed3.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed4.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
