<div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
  <div class="product">
    <div class="image">
      <!--
      <div class="quickview">
        <a data-toggle="modal" class="btn btn-xs btn-quickview" href="productmodal" data-target="#productSetailsModalAjax">Quick View </a>
      </div>
      -->
      <a href="/productdetail/<%= product.id %>"><%= image_tag("product/" + product.id.to_s + "/" + product.name.downcase.gsub(' ', '-') + "-" + product.color.downcase.gsub(' ', '-').gsub('/', '-') + "-300.jpg", :class => "img-responsive") %></a>

      <!--<div class="promotion"><span class="new-product"> NEW</span> <span class="discount">15% OFF</span></div>-->
    </div>
    <div class="description">
      <h4><a href="/productdetail/<%= product.id %>"><%= product.name %></a></h4>

      <div class="grid-description">
        <p><%= product.short_description %></p>
      </div>
      <div class="list-description">
        <p>{ Long Description }</p>
      </div>
      <!-- <span class="size">{ sizes }</span> -->
    </div>
    <div class="price"><span><%= number_to_currency product.price %></span></div>
    <div class="action-control">
      <!--<a href="/cart" class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>-->
    </div>
  </div>
</div>
<!--/.item-->
