<div class="col-lg-9 col-md-9 col-sm-12 productSorterContainer">
  <%= render "filter/product_sorter" %>
</div>
<hr>
<div class="col-lg-3 col-md-3 col-sm-12 filterContainer">
  <div class="container-title-filter">
    <label class="title-filter">Filters</label>
    <%= link_to "CLEAR ALL", get_products_path(sub_category_tag: params[:sub_category_tag],
      category_tag: params[:category_tag]), class: "pull-right" %>
  </div>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="genderTree">
        <a class="subCategory">Gender</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="genderTree">
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :Male, get_products_path(filter_type: :gender, sex: :m), class: 'filterLink link-filter', remote: true %>
        </li>
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :Female, get_products_path(filter_type: :gender, sex: :f), class: 'filterLink link-filter', remote: true %>
        </li>
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :Undentified, get_products_path(filter_type: :gender, sex: :u), class: 'filterLink link-filter', remote: true %>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="categoryTree">
        <a class="subCategory">Category</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="categoryTree">
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.category, get_products_path(filter_type: :category, category_id: category.id), remote: true, class: "link-filter" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="colorTree">
        <a class="subCategory">Color</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="colorTree">
        <% ColorFamily.all.each do |color| %>
          <li><input type="checkbox" id="<%= color.id %>" class="color-family-item"> <%= color.color_family %></li>
          <!-- <li><%= link_to color.color_family, get_products_path(filter_type: :color, color_family_id: color.id),
            remote: true, class: "link-filter" %>
          </li> -->
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="sizesTree">
        <a class="subCategory">Sizes</a>
      </span>
      <div class="nav-list tree sliderBar" id="sizesTree">
        <div id="sizesSlider"
          data-min-size="<%= Size.pluck(:size).map(&:to_f).min.to_f %>"
          data-max-size="<%= Size.pluck(:size).map(&:to_f).max.to_f %>">
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="priceTree">
        <a class="subCategory">Price</a>
      </span>
      <div class="nav-list tree sliderBar" id="priceTree">
        <div id="priceSlider" style="width: 100;"
          data-min-size="<%= Product.pluck(:price).map(&:to_f).min %>"
          data-max-size="<%= Product.pluck(:price).map(&:to_f).max %>">
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
  var sizesSlider = $('#sizesSlider').freshslider({
      step: 0.5,
      range: false,
      min: parseFloat($('#sizesSlider').attr('data-min-size')),
      max: parseFloat($('#sizesSlider').attr('data-max-size')),
      value: parseFloat($('#sizesSlider').attr('data-min-size'))
  });

  var priceSlider = $('#priceSlider').freshslider({
    range: true,
    unit:'$',
    step: 0.1,
    min: Math.floor(parseFloat($('#priceSlider').attr('data-min-size'))),
    max: parseFloat($('#priceSlider').attr('data-max-size')),
    value: [Math.floor(parseFloat($('#priceSlider').attr('data-min-size'))), Math.floor(parseFloat($('#priceSlider').attr('data-max-size')))],
    onchange:function(low, high){
      $('#priceSlider input').val([low + '..' + high]);
    }
  });

  $('#priceSlider').on('mouseup','.fscaret', function(){
    var url = '/products/' + '<%= params[:sub_category_tag] %>' + '/' + '<%= params[:category_tag] %>';
    var min_price = parseFloat($('#priceSlider .fscaret').prev().text());
    var max_price = parseFloat($('#priceSlider .fscaret').next().text());
    $.ajax({
    url: url,
      dataType: 'jsonp',
      type: 'GET',
      data: {min_price: min_price, max_price: max_price, filter_type: 'price'}
    });
  });

  $('#sizesSlider').on('mouseup','.fscaret', function(){
    var url = '/products/' + '<%= params[:sub_category_tag] %>' + '/' + '<%= params[:category_tag] %>';
    var size = parseFloat($('#sizesSlider .fscaret').text());
    $.ajax({
    url: url,
      dataType: 'jsonp',
      type: 'GET',
      data: {size: size, filter_type: 'size'}
    });
  });
  $(".radioBtnFilter").attr('checked', false);
  $(document).on('change', '.color-family-item', function(){
    var colorCheckIds = $('.color-family-item:checkbox:checked').map(function(){ return this.id; }).get();
    var url = '/products/' + '<%= params[:sub_category_tag] %>' + '/' + '<%= params[:category_tag] %>';
    $.ajax({
    url: url,
      dataType: 'jsonp',
      type: 'GET',
      data: {color_family_id: colorCheckIds, filter_type: 'color'}
    });
  });
</script>
