<div class="col-lg-9 col-md-9 col-sm-12 productSorterContainer">
  <%= render "filter/product_sorter" %>
</div>
<hr>
<div class="col-lg-3 col-md-3 col-sm-12">
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="genderTree">
        <a class="subCategory">Gender</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="genderTree">
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :Male, men_trail_path(filter_type: :gender, sex: :m), class: 'filterLink', remote: true %>
        </li>
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :Female, men_trail_path(filter_type: :gender, sex: :f), class: 'filterLink', remote: true %>
        </li>
        <li>
          <%= radio_button_tag :option, nil, {}, class: "radioBtnFilter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to :UnIdentified, men_trail_path(filter_type: :gender, sex: :u), class: 'filterLink', remote: true %>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="categoryTree">
        <a class="subCategory">Category</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="categoryTree">
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.category, men_trail_path(filter_type: :category, category_id: category.id), remote: true %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="colorTree">
        <a class="subCategory">Color</a>
        <span class="categoryPlusBtn">
          <i class="fa fa-plus"></i>
        </span>
      </span>
      <ul class="nav-list tree navListCategory" id="colorTree">
        <% ColorFamily.all.each do |color| %>
          <li><%= link_to color.color_family, men_trail_path(filter_type: :color, color_family_id: color.color_family_id),
            remote: true %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="sizesTree">
        <a class="subCategory">Sizes</a>
      </span>
      <div class="nav-list tree sliderBar" id="sizesTree">
        <div id="sizesSlider"
          data-min-size="<%= Size.pluck(:size).map(&:to_f).min %>"
          data-max-size="<%= Size.pluck(:size).map(&:to_f).max %>">
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav nav-list categoryFilterBox">
    <li class="categoryItem">
      <span class="tree-toggle nav-header rootTreeCategory" data-active="active" data-list="priceTree">
        <a class="subCategory">Price</a>
      </span>
      <div class="nav-list tree sliderBar" id="priceTree">
        <div id="priceSlider"
          data-min-size="<%= Product.pluck(:price).map(&:to_f).min %>"
          data-max-size="<%= Product.pluck(:price).map(&:to_f).max %>">
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
  var sizesSlider = $('#sizesSlider').freshslider({
      step: 0.5,
      range: false,
      min: parseFloat($('#sizesSlider').attr('data-min-size')),
      max: parseFloat($('#sizesSlider').attr('data-max-size')),
      value: parseFloat($('#sizesSlider').attr('data-min-size'))
  });

  var priceSlider = $('#priceSlider').freshslider({
    range: true,
    unit:'$',
    step: 0.1,
    min: Math.floor(parseFloat($('#priceSlider').attr('data-min-size'))),
    max: parseFloat($('#priceSlider').attr('data-max-size')),
    value: [Math.floor(parseFloat($('#priceSlider').attr('data-min-size'))), Math.floor(parseFloat($('#priceSlider').attr('data-min-size')))],
    onchange:function(low, high){
      $('#priceSlider input').val([low + '..' + high]);
    }
  });

  $('#priceSlider').on('mouseup','.fscaret', function(){
    var url = '/men/trail';
    var min_price = parseFloat($('#priceSlider .fscaret').prev().text());
    var max_price = parseFloat($('#priceSlider .fscaret').next().text());
    $.ajax({
    url: url,
      dataType: 'jsonp',
      type: 'GET',
      data: {min_price: min_price, max_price: max_price, filter_type: 'price'}
    });
  });

  $('#sizesSlider').on('mouseup','.fscaret', function(){
    var url = '/men/trail';
    var size = parseFloat($('#sizesSlider .fscaret').text());
    $.ajax({
    url: url,
      dataType: 'jsonp',
      type: 'GET',
      data: {size: size, filter_type: 'size'}
    });
  });
</script>
